.headings{
    margin: 10px;
    font-weight: bold;
}
.form-group{
    margin: 10px;
    width: 350px;
}
.left{
    float: left;
}

.right{
    float: right;
}
.table{
    width: 310px;
}

.tbsub{
    width: 165px;
}

.SnameLeft{
    float: left;
}

.SnameRight{
    width: 140px;
    margin-left: 40px;
}

button{
    margin-top: 25px;
}

.subDis{
    float: right;
}
.examBlock{
    width: 60%;
    display: flex;
}
.examBlockTerm1{
    width:50%;
    float: left;
}
.examBlockTerm2{
    width:50%;
    float: right;
}
.principal{
    margin-top: 40px;
    margin-bottom: 40px;
}
.S1{
    width: 40%;
    display: flex;
}
.O1{
    width:30%;
    float: left;
}
.O2{
    width:70%;
    float: right;
}
.SExam{
    width: 100%;
    display: flex;
}
.CRTO{
    width: 60%;
    display: flex;
}
.Co{
    width:50%;
    float: left;
}

.RTO{
    width:50%;
    float: right;
}
.CRS{
    width: 100%;
    display: flex;
}
.editor{
    margin-left: 200px;
}