.headings{
    margin: 10px;
    font-weight: bold;
}
.form-group{
    margin-top: 2px;
}
.left{
    float: left;
}

.right{
    float: right;
}
.table{
    width: 310px;
}

.tbsub{
    width: 165px;
}

.SnameLeft{
    float: left;
}

.SnameRight{
    width: 140px;
    margin-left: 40px;
}

button{
    margin-top: 25px;
}